
<section class="hero" id="home">
    <div class="hero-content">

        <div class="hero-text">
            <h1>Hello, I'm <span class="name"><br> Lutescu Claudiu</span></h1>
            <p>A passionate developer who loves building clean, smart and powerful code. </p>

            <div class="hero-buttons">
                <a href="#about" class="section-btn">About Me</a>
                <a href="#skills" class="section-btn">Skills</a>
                <a href="#education" class="section-btn">Education</a>
                <a href="#contact" class="section-btn">Contact</a>
            </div>
        </div>

        <div class="hero-image">
            <img src="/images/PozaCV.jpg" alt="PozaCV">
        </div>

    </div>
</section>


<section id="about" class="about">
    <h2>About Me</h2>
    <p>
        EN: I am a hardworking and dedicated individual with a calm, friendly, and collaborative attitude. I enjoy working in a team and believe strongly in the value of communication and synergy. I am open to challenges, willing to take responsibility, and always eager to learn and improve.
In my free time, I enjoy music and spending time with friends. I am highly passionate about technology and constantly look for opportunities to grow in this field.
<br><br> RO: Sunt o persoană muncitoare și dedicată, cu o atitudine calmă, prietenoasă și orientată spre colaborare. Îmi place să lucrez în echipă și acord o mare importanță comunicării eficiente. Sunt deschis la provocări, dispus să îmi asum responsabilități și mereu dornic să învăț și să mă dezvolt.
În timpul liber, îmi place să ascult muzică și să petrec timp cu prietenii. Sunt foarte pasionat de tehnologie și caut constant oportunități de a evolua în acest domeniu.
    </p>
</section>

<section id="skills" class="skills">
    <h2>Skills</h2>
    <ul>
        <li>JavaScript, SQL, Node.js, Express, ASP.NET</li>
        <li>C#, C/C++, Data structuresm, Debugging and testing</li>
        <li>Databases: PostgreSQL, SQLite; HTML5, CSS3, EJS</li>
        <li>I possess advanced English language skills, including fluency in speaking, writing, and comprehension, honed through my academic studies in English and time living in the United States.</li>
        <li>Git & GitHub</li>
    </ul>
</section>

<section id="education" class="education">
    <h2>Education</h2>
    <ul>
        <li>Universitatea Politehnica din Timisoara - Facultatea de Automatica si Calculatoare - sectia Calculatoare si Tehnologia Informatiei in limba engleza; 2023-prezent (Anul 3)</li>
        <li>Colegiul National Ecaterina Teodoroiu - Matematica Informatica 2019-2023</li>
    </ul>
</section>

<section id="contact" class="contact">
    <h2>Contact</h2>
    <p>You can reach me at:</p>
    <ul>
        <li>Email: lutescu.claudiu11@gmail.com</li>
        <li>Phone: +40768875936</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/claudiu-lutescu-93035b286/" target="_blank">https://www.linkedin.com/in/claudiu-lutescu-93035b286/</a></li>
        <li>GitHub: <a href="https://github.com/LutescuClaudiu" target="_blank">https://github.com/LutescuClaudiu</a></li>
    </ul>
    <a href="#about" class="section-btn">Back to Top</a>
</section>


<script src="/js/main.js"></script>
